.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-color: hsl(30, 54%, 90%);
  height: 100%;
}
.container {
  background-color: white;
  width: 60vw;
  justify-content: center;
  padding: 2rem 2rem;
  height: 100%;
  border-radius: 16px;
  color: hsl(24, 5%, 18%);
}
.omlette {
  width: 100%;
  border-radius: 18px;
  height: 300px;
}
.intro {
  margin: 2rem 0;
}
.intro h1 {
  font-size: 3rem;
  font-weight: 300;
  margin: 1rem 0;
}

.preparation {
  padding: 1rem 2rem;
  background-color: hsl(330, 100%, 98%);
  margin: 1rem 0;
  font-size: 1rem;
  border-radius: 18px;
}
.preparation ul {
  padding: 0 1rem;
}
.preparation h4 {
  padding: 0;
  margin: 0;
}
.ingredients ul {
  margin: 0.5rem 2rem;
}
.ingredients h1 {
  color: hsl(14, 45%, 36%);
}

.instructions h1 {
  color: hsl(14, 45%, 36%);
}
.nutrition h1 {
  color: hsl(14, 45%, 36%);
}

@media screen and (max-width: 375px) {
  .main {
    width: 100vw;
    padding: 0;
    margin: 0;
  }
  .container {
    width: 100%;
    padding: 0;
  }
  .omlette {
    padding: 0;
    margin: 0;
    border-radius: 0;
    width: 100%;
  }
}
